/* ========================================
   RESET E BODY
   Regole di base valide per tutta la pagina.
======================================== */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
}
